@media screen and (max-width:1024px) {
    
        main {
        
        picture {
            
            img {
                height:300px;
                
            }
            
            
        }
        
    }
    
    
}


@media screen and (min-width:769px) {
    
  
    
    header {padding:20px 10px;}
    
    
    section {
        
        
        
        &.three-col {
            display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(3, minmax(300px,auto));
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-rows: repeat(2,minmax(100px,auto));
    -ms-grid-rows: 1fr 20px 1fr;
    grid-gap: 20px;
    -ms-grid-gap: 20px;
    max-width: 90%;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    width: 100%;
    max-width:1400px;
     margin:20px auto;
            
    section {
        
        h4 {font-size:2em;text-align:center;margin-bottom:2rem;}

        border: 1px solid #c8c8c8;
        padding:10px;
       
        
        &#copy {
            grid-column: 3 / span 1;
            grid-row:1 ;
    -ms-grid-column: 2;
    -ms-grid-column-span:3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
            
   

            ul {

                &.gallery {

                        display:grid;
                        grid-template-columns:repeat(2,49%);
                        grid-gap:2%;
                        margin:0px;


                        li {
                            
                            img {
                                max-width:100%;
                                object-fit:cover;
                                display:block;
                                transition:all 0.2s ease-in-out;
                                -webkit-transition:all 0.2s ease-in-out;
                                -moz-transition:all 0.2s ease-in-out;
                                -ms-transition:all 0.2s ease-in-out;
                                &:hover                           
{
                                    transform: scale(1.5);
                                    -webkit-transform: scale(1.5);
                                    -moz-transform: scale(1.5);
                                    -ms-transform: scale(1.5);
}
                            
                            }
                            }



                }

            }


        }
        
        &#calendar {
            grid-row: 2 / span 1;
            grid-column:2 / span 1;
             -ms-grid-row: 3;
             -ms-grid-column:5;
             -ms-grid-column-span:1;
    -ms-grid-row-span: 1;
    background-color:rgb(138,168,212);
    
     h4 {font-size:2em;text-align:center;}
            
        }
        
        &#fundraiser {
            
            display:flex;display:-webkit-flex;
            flex-direction:column;
            -webkit-flex-direction:column;
            align-items:center;
            padding:10px;
            grid-column:1 / span 2;
            grid-row:1 / span 1;
            -ms-grid-column:1;
            -ms-grid-column-span:2;

            h4 {color:white;}
            
            p {color:white;}
            
        }
        
        &#media {
            grid-column:1 / span 1;
            grid-row:2 / span 1;
            p {color:white;}

            
        iframe {
            height:300px;
        }
        
        }
        
    }
        
    
            
        }
        
        
      
        
    }
    
      figure.fullwidth.header {
            
            width:100%;
            height:400px;
            position:relative;
            z-index:-1;
            img {width:100%;object-fit:cover;max-height:100%;}
            figcaption {
                position:absolute;
                bottom:0px;
                right:10px;
                
                h1 {font-size:5em;color:rgba(255,255,255,0.8);
                text-shadow:0px 0px 10px rgba(0,0,0,0.5)}
                
                
            }
            
            
            & + section.onecol {width:90%;margin:10px auto;min-height:300px;}
            
        }
    
    input#mobileNav {
        display:none;
        & + label {
            display:none;
            
        }
         
        
    }
    
    
}

@media screen and (max-width:768px) {
      body {
        display:flex;
        display:-webkit-flex;
        flex-direction:column;
        -webkit-flex-direction:column;
        
        
    }
  
    
    header {
        z-index:9999;
        padding:10px;
        
        &:after {content:none;}
        height:81px;
        img {order:3;-webkit-order:3;flex:0 0 20%;
        max-width:60px;}
        label {order:1;-webkit-order:1;flex:0 0 20%;}
        section {order:2;-webkit-order:2;flex:0 0 50%;
        
                 p:first-of-type {display:none;}
                 p:last-of-type {font-size:20px !important;}
        
        }
        
    }
    
    
    main {
        
        picture {
            
            img {
                height:200px;
                
            }
            
            
        }
        
    }
    
    footer {
        
        &:after {
            content:none;
            
        }
        min-height:320px;
        
        ul.imprint {
            
            li {padding:5px 0px;
            
            &:after {content:none;}
            }
            
        }
        
        
    }
    
    
    figure.row {
        flex-direction:column;
        -webkit-flex-direction:column;
           
     img {margin-bottom:20px;}   
     figcaption {padding:0px 20px 20px 20px;}  
        
    }
    
    ul.imprint {
        
        flex-direction:column;
        -webkit-flex-direction:column;
        
    }
    
    
    section.three-col {
           padding:20px;
            display:-ms-grid;display:grid;width:100%;
            grid-template-columns:1fr !important;
            -ms-grid-columns: 1fr;
            gap:20px;
          
          section:first-of-type {text-align:center;grid-row:2;
          
          h4 {margin-bottom:20px;}
          p {font-size:0.8em}
          }
         
          section {

            p {font-size:1rem !important;}
              
               border: 1px solid #c8c8c8;
        padding:10px;
              
              &#media {
                  
                  h4 {font-size:1.5em}
                  p {color:white;}
                  background-repeat:no-repeat;
                 background-size:contain;
              }
              
              &#fundraiser {
                  
                  padding:10px;
                  
                  & * {color:white;font-size:1.3em}
                  
              }
              
              &#copy {
                  
                  padding:10px;
                  h4 {font-size:1.2em;text-align:center;margin-bottom:10px;}
              }
              
              &#calendar {
                  
                  background-color:rgb(138,168,212);
                  
              }
              
              
              
          }
          
          section:nth-child(3) {grid-row:3;}
          
          
      }
      
      input {
          
          &#mobileNav  {
              display:none;
              
              & + label {
                  
                      display: flex;
    display: -webkit-flex;
    height: 22px;
    width: 40px;
    flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: space-between;
                  
                  div {
                          background: rgb(138,168,212);
    width: 40px;
    height: 4px;
    display: block;
    transition: all 0.3s ease-in-out;
    transform-origin: left;
    -webkit-transition: all 0.3s ease-in-out;
    -webkit-transform-origin: left;
    
     div:nth-of-type(2) {
    transform-origin: center;
    -webkit-transform-origin: center;
                  
            
              
          }
          
      }
      
      & + nav {
          position:absolute;
          top:0px;
         left:100%;
         background: rgb(138,168,212);
         width:80%;
         transition: all 0.3s;
         height:300%;
         border-radius:0px 0px 0px 10px;
         display:flex;
         display:-webkit-flex;
         flex-direction:column;
         -webkit-flex-direction:column;
         z-index:10;
            
         
         &:before {
             content:'';
             width:50px;height:50px;background-image:url(../images/common/hbcc-logo.png);background-size:100%;background-position:center;
             display:block;
             margin:10px;
             align-self:flex-end;
             
         }
         
         
         
         ol {
            display:flex;
            display:-webkit-flex;
            flex-direction:column;
            -webkit-flex-direction:column;
               
            li {
                width:100%;
                border-bottom:1px solid grey;
                position:relative;
                
                ol {top:100%;position:absolute;left:calc(100% + 20px);width:calc(100% + 20px);transition:all 0.3s ease-in-out;-webkit-transition:all 0.3s ease-in-out;
    display: block;
    top: calc(100% + 3px);
   
                z-index:10;
               }
                  &:hover, &:active {
                      -webkit-user-select: none;
                    -webkit-touch-callout: none;  
                      a {color:black;}
                      
                    ol {transform:translate3d(-101%,0,0);
                        
                        
                    }
                    
                }
                
            }
           
             
         }
         
          
      }
    
}

 &:checked + label {

                div:nth-of-type(2) {
                    transform: scale3d(0,0,0);

                }


                div:nth-of-type(1) {

                    transform:translate(6px, -6px) rotate(45deg);
                    -webkit-transform:translate(6px, -6px) rotate(45deg);
                }


                div:nth-of-type(3) {

                    transform:rotate(-45deg) translate(2px, 7px);
                    -webkit-transform:rotate(-45deg) translate(2px, 7px);
                }
                
                
                & + nav {
                    
                    transform:translate3d(-100%,0,0);
                    -webkit-transform:translate3d(-100%,0,0);
                    height:300%;
                    box-shadow:0px 0px 10px rgba(0,0,0,0.5);
                }
            }
         }
      }

      
      figure.fullwidth.header {
            
            width:100%;
            height:250px;
            position:relative;
            
            img {width:100%;object-fit:cover;max-height:100%;}
            figcaption {
                position:absolute;
                bottom:0px;
                right:10px;
                
                h1 {font-size:15vw;color:rgba(255,255,255,0.9);
                text-shadow:0px 0px 10px rgba(0,0,0,0.5);text-align:right;}
                
                
            }
            
            
            & + section.onecol {width:90%;margin:10px auto;min-height:300px;}
            
        }

}


/* logos */

ul {

    &.funding-logos {

            background:white;
            display:flex;
            align-items:center;
            padding:5px 0px;
            justify-content:space-between;
            margin-bottom:2rem;

            li {
                flex:0 0 20%;
                width:20%;
                display:flex;
                align-items:center;
                justify-content:center;

                &:first-of-type {

                    flex:0 0 40%;

                }

                img {max-height:100px;max-width:100%;object-fit:contain;padding:5px;}

            }




    }

}

a {

    &.smile {
        display:flex;
        background:white;
        flex-direction:column;
        align-items:center;
        width:240px;
        border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; -ms-border-radius:5px;
        margin:5px auto;

        img { padding:5px; display:block;}
        span {font-size:10px;color:black !important;margin-bottom:5px;
        
        @media (max-width:768px) {
display:none;

        }
        
        }

    }


}